/*General */
html, body {
    height: 100%;
}

*{
    box-sizing: border-box;
    transition-duration: 0.3s;
}

*:not(input){
    margin: 0;
    padding: 0;
    border:0;
}

/* Landing section */
#landing{
    background-image: url(../assets/landing.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    text-align: center;
    position: relative;
    h1{
        position: absolute;
        right: 50%;
        top: 40%;
        transform: translate(50%, 50%);
        /*CSS Gradient Generator*/
        background: #f6f8f9; /* Old browsers */
        background: -moz-linear-gradient(left, #f6f8f944 0%, #e5ebee4b 50%, #a7aeaf59 100%, #f5f7f98a 100%, #a7aeaf9f 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left, #f6f8f944 0%,#e5ebee4b 50%,#a7aeaf59 100%,#f5f7f98a 100%,#a7aeaf9f 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, #f6f8f944 0%,#e5ebee4b 50%,#a7aeaf59 100%,#f5f7f98a 100%,#a7aeaf9f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        width: 10rem;
        @media screen and (min-width: 768px){
            top: 10%;
            right: 10%;
            transform: translate(0%, 0%);
            display:inline-block;
            width: initial;
        }
    }
    a{
        img{
        width: 2rem;
        }
    }
}

/*Upcoming section*/
#upcoming{
    background-image: url(../assets/upcoming-events.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 110%;
    width: 100%;
}

/*previous section*/
#previous{
    background-image: url(../assets/previous-events.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 110%;
    width: 100%;
}

/*contact section*/
#contact{
    /*CSS Gradient Generator*/
    background: #f5f6f6; /* Old browsers */
    background: -moz-linear-gradient(45deg, #f5f6f6 0%, #b3b5b7 100%, #b8bac6 100%, #f5f6f6 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #f5f6f6 0%,#b3b5b7 100%,#b8bac6 100%,#f5f6f6 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #f5f6f6 0%,#b3b5b7 100%,#b8bac6 100%,#f5f6f6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    form{
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        padding: 1rem;
        width: 20rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @media screen and (min-width: 768px){
            width: 30rem;
        }

        textarea{
            resize: none;
            padding-top: 1rem;
            font-family: initial;
            width: 100%;
            margin: 0.5rem;
            padding-left: 1rem;

        }
        input{
            border:0;
            font-family: initial;
            width: 100%;
            margin: 0.5rem;
            padding-left: 1rem;
        }
        .no-flex{
            @media screen and (min-width: 768px){
                    display: flex;
                    align-items: center;
                    margin-left: 2rem;
                }
            input{
                margin-left: 0;
                width: max-content;

            }
            .label{
                display: inline;
                font-size: 0.7rem;
                @media screen and (min-width: 768px){
                    width: 20rem;
                }
            }
            input[type="submit"]{
                display: block;
                background-color: black;
                color: white;
                padding: 0.5rem 1rem;
            }
        }
    }
}